$white: #FFFFFF;

//Brand colors
$brand-light: #744EBB;
$brand-medium: #5F3CA1;
$brand-dark: #54358E;

//Secondary colors
$secondary-success: #00FF84;
$secondary-info: #4DCBD3;
$secondary-warning: #FFBF00;
$secondary-error: #FF3B93;


//Gray colors
$gray-01: #453F51;
$gray-02: #5E5570;